.generic-page {
	background-color: #e1e8f0;
	min-height: 60vh;
}
.ds-navbar {
	background-color: #4d4d4d;
	height: 70px;
	.brand-logo {
		display: inline-block;
			margin-right: 20px;
			
		a {
			color: #f4c017;
			font-family: 'Roboto Slab', serif;
			
			
			font-size: 24px;
		}
		
		
	}
	ul {
		display: inline-block;
		/*height: 70px;*/
		padding: 0px;
		margin: 0px;
		margin-left: 10px;
		li {
			display: inline-block;
			list-style-type: none;
			a {
				padding:0px 20px;
				line-height: 70px;
				display: inline-block;
				color: #eeeeee;

				&:hover {
					text-decoration:none;
					background-color: darken(#4d4d4d, 10%);
				}
			}
		}
	}
}
.cart-link {
	display: inline-block;
	a {
		padding:0px 20px;
				line-height: 70px;
				display: inline-block;
				color: #eeeeee;
				i {
					display: inline-block;
					margin-right: 5px;
					font-size: 20px;
				}
				&:hover {
					text-decoration:none;
					background-color: darken(#4d4d4d, 10%);
				}
	}
}
.sidebar {
	.cat-links {
		margin: 0px;
		padding: 0px;
		li {
			list-style-type: none;
			margin-bottom: 5px;
			a {
				color: #666;
				display: block;
				padding: 8px;
				background-color: lighten(#e1e8f0,3%);
				&:hover {
					text-decoration:none;
					background-color: lighten(#e1e8f0,6%);
				}
			}
		}
	}
}

.each-product {
	display: block;
	min-height: 300px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-bottom: 30px !important;
	box-shadow: 0px 0px 3px #dddddd;
	position: relative;
	.img-blk {
		margin: 20px auto;
		width: 200px;
		height: 200px;
		/*border: 1px solid #dddddd;*/
		/*background-color: #ddd;*/
		img {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
	.det-blk {
		border-top: 1px solid #dddddd;
		padding: 10px 15px;
		h4 {
			margin: 0px;
		}
	}
	.uk-overlay-panel {
		background:rgba(0,0,0,0.4);
		/*top:90%;*/
		/*bottom: 0px;
		height: 30px;*/
	}
	figcaption {
		/*text-transform: uppercase;*/
		/*font-size: 20px;*/
		.btn-bar {
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 20px;
		}
	}
}