<footer>
    <div class="uk-container uk-container-center">
        <ul class="primary-links">
                <li>
                    <a href="">All Categories</a>
                </li>
                <li>
                    <a href="">Clients</a>
                </li>
                
                <li
                    ><a href="">About Us</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        <div class="copy">
            &copy; 2015 Designz | All rights reserved.
        </div>
    </div>
    
</footer>