<!-- <div class="container">
    <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>
<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
        <a class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</a>
    </p>
    <p>
    With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
</p>
</div>
<div class="col" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
<div class="thumbnail">
    <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
    <div class="caption">
        <h3>{{ awesomeThing.title }}</h3>
        <p>{{ awesomeThing.description }}</p>
        <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
    </div>
</div>
</div>
</div> -->
<div class="uk-cover uk-height-viewport uk-position-relative bg-dark">
    <img class="uk-invisible" src="assets/videos/carmela/carmela.jpg" width="600" height="400" alt="">
    <video class="uk-cover-object uk-position-absolute" width="600" height="400" autoplay="" loop="" muted="">
        <source src="assets/videos/carmela/carmela.mp4" type="video/mp4">
        <source src="assets/videos/carmela/carmela.ogv" type="video/ogg">
    </video>
    <div class="bg-overlay"></div>
    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
        <div>
            <h1>Designz</h1>
            <p>Corporate Gifting &amp; Design Solutions</p>
        </div>
    </div>
</div>
<section class="features-blk">
    <div class="uk-container uk-container-center">
        <!-- <h2 class="uk-text-center">Lorem ipsum dolor sit.</h2> -->
        <!-- <hr> -->
        <div class="uk-grid">
            <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-1">
                <div class="each-featurette">
                    <div class="fig-blk one">
                        <i class="uk-icon-shopping-bag"></i>                        
                    </div>
                    <div class="txt-blk">
                        <h3>Lorem ipsum.</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iure nesciunt eius?
                    </div>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-1">
                <div class="each-featurette">
                    <div class="fig-blk two">
                        <i class="uk-icon-credit-card-alt"></i>                        
                    </div>
                    <div class="txt-blk">
                        <h3>Lorem ipsum.</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore pariatur.
                    </div>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-1">
                <div class="each-featurette">
                    <div class="fig-blk two">
                        <i class="uk-icon-credit-card-alt"></i>                        
                    </div>
                    <div class="txt-blk">
                        <h3>Lorem ipsum.</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. dsfsdfsdf.
                    </div>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-1">
                <div class="each-featurette">
                    <div class="fig-blk three">
                        <i class="uk-icon-heart-o"></i>                        
                    </div>
                    <div class="txt-blk">
                        <h3>Lorem ipsum.</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nobis, voluptatem eius.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured-blk">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-small" data-uk-grid>

            <div class="uk-width-2-6">
                <div class="one-third">sdf</div>

                <div class="one-third">sdf</div>
            </div>
            <div class="uk-width-2-6">
                <div class="two-third">sdf</div>
            </div>
            <div class="uk-width-1-6">
                <div class="two-third flowers">
                    <div class="img-blk">
                        <img src="assets/images/site/flowers-icon.png" alt="">
                    </div>
                </div>
            </div>
            <div class="uk-width-1-6">
                <div class="one-third">sdf</div>
                <div class="one-third">sdf</div>
            </div>
           <!--  
            <div class="uk-width-1-6">
                <div class="one-third">sdf</div>
            </div> -->
            <!-- <div class="two-third">sdf</div>
            <div class="two-third">sdf</div>
            <div class="two-third">sdf</div>
            <div class="two-third">sdf</div>
            <div class="two-third">sdf</div> -->
            
            <!-- <div class="uk-width-1-6">
                <div class="two-third">sdf</div>
            </div> -->
        </div>
    </div>
</section>

<section class="features-blk">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            ajdnajfn
        </div>
    </div>
</section>