<header>
    <div class="ds-navbar">
        <div class="uk-container uk-container-center">
            <div class="brand-logo">
                <a href="/#/">
                    designz
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/#/">Home</a></li>
                <li><a href="">All Categories</a></li>
                <li><a href="">Rewards &amp; Recognitions</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="generic-page">

    <div class="uk-container uk-container-center">
        <!-- {{ route }} -->
        <div class="uk-grid">
            <div class="uk-width-1-5">
                <div class="sidebar">
                    <!-- All categories -->
                    <ul class="cat-links">
                        <li ng-repeat="category in products">
                            <a href="">{{category.catname}} ({{category.items.length}})</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-3-4">
                <div class="main-content">
                    
                    <!-- {{products | json}} -->
                    <div class="each-category" ng-repeat="category in products" style="margin-bottom:35px;">
                        <h2 style="margin-bottom:5px;">
                            {{category.catname}}
                        </h2>
                        <p>
                            {{category.catdesc}}
                        </p>

                        <div class="uk-grid">
                            <div class="uk-width-1-3" ng-repeat="item in category.items">
                                <div class="each-product">
                                    <div class="img-blk">
                                        <img src="assets/images/site/clients/gkn.png" alt="">
                                    </div>
                                    <div class="det-blk">
                                        <h4>{{item.name}}</h4>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="uk-container uk-container-center">
        <ul class="primary-links">
            <li>
                <a href="">All Categories</a>
            </li>

            <li>
                <a href="">Rewards &amp; recognitions</a>
            </li>
            <li>
                <a href="">Clients</a>
            </li>
            
            <li
                ><a href="">About Us</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
        <div class="copy">
            &copy; 2015 Designz | All rights reserved.
        </div>
    </div>
    
</footer>