<header>
    <div class="ds-navbar">
        <div class="uk-container uk-container-center">
            <div class="brand-logo">
                <a href="/#/">
                    designz {{vm.route}}
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/#/">Home</a></li>
                <li><a href="">All Categories</a></li>
                <li><a href="">Rewards &amp; Recognitions</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="generic-page">

    <div class="uk-container uk-container-center">
        <!-- {{ route }} -->
        <div class="uk-grid">
            <div class="uk-width-1-4">
                <div class="sidebar" data-uk-sticky="{top:50}">
                    <!-- All categories -->
                    <!-- {{products}} -->
                    <ul class="cat-links">
                        <li ng-repeat="category in products">
                            <a href="/#/category/#{{category.cat_id}}" data-uk-smooth-scroll="">{{category.category}} <span class="uk-float-right">{{category.items.length}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-3-4">
                <div class="main-content">
                    
                    <!-- {{products | json}} -->
                    <div class="each-category" ng-repeat="category in products" style="margin-bottom:35px;" id="{{category.cat_id}}">
                        <h2 style="margin-bottom:5px;">
                            {{category.category}}
                        </h2>
                        <p>
                            {{category.cat_desc}}
                        </p>

                        <div class="uk-grid">
                            <div class="uk-width-1-3" ng-repeat="item in category.items">


                                <a class="each-product uk-overlay uk-overlay-hover" >
                                    <div class="img-blk uk-overlay-scale">
                                        <img class=" "  ng-src="{{item.image}}" alt="">

                                    </div>
                                    <div class="det-blk">
                                        <h4>{{item.name}}</h4>
                                        <p></p>
                                    </div>
                                    <figcaption class="uk-overlay-panel uk-overlay-slide-bottom">
                                        {{item.description}}
                                        <div class="btn-bar">
                                            <button class="uk-button uk-float-right uk-button-primary" ng-click="addToCart(item)">Add to cart</button>
                                            <button href="#mymodal" data-uk-modal="" class="uk-button  uk-button-success">View more</button>

                                        </div>
                                    </figcaption>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="mymodal" class="uk-modal">
    adifhbsadibfiuabf
</div>

<footer>
    <div class="uk-container uk-container-center">
        <ul class="primary-links">
            <li>
                <a href="">All Categories</a>
            </li>

            <li>
                <a href="">Rewards &amp; recognitions</a>
            </li>
            <li>
                <a href="">Clients</a>
            </li>
            
            <li
                ><a href="">About Us</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
        <div class="copy">
            &copy; 2015 Designz | All rights reserved.
        </div>
    </div>
    
</footer>